@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400&display=swap');

body {
    background-color: #333434;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 55px;
    color: #fff;
    font-style: italic;
    padding-top: 50px;
    text-align: center;
    font-weight: 900;
}

header {
    background-color: rgb(192, 145, 14);
}

header>ul>li {
    display: inline-block;

}

header>ul>li>a {
    display: block;
    padding: 26px 22px 26px 21px;
    color: #e0e0e0;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header>ul>li>a:hover {
    background-color: rgb(255, 198, 42);
    color: #000000;
}

.kingMenuLinkOn {
    background-color: #af8d37;
}

.kingText {
    padding-top: 35px;
    padding-bottom: 8%;
    padding-left: 13%;
    padding-right: 30%;
    font-size: 16px;
    color: #fff;
}

.kingText p {
    margin-top: 16px;
}

.kingText p span {
    color: #666666;
}

.kingForm {
    text-align: right;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    margin-right: 100px
}

::placeholder {
    color: #fff;
    opacity: 0.7;
}


label {
    color: #fff;
}

table {
    border-collapse: separate;
    border-spacing: 1px;
    font-size: 20px;
    margin: auto;
    padding-bottom: 69px;
}

table td {
    background-color: #e0e0e0;
    padding: 8px 16px 8px 16px;
    text-align: center;
}

table thead td {
    background-color: rgb(192, 145, 14);;
    color: #fff;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;

}

.kingForm fieldset label,
.kingForm fieldset div:last-child {
    display: inline-block;
    color: #fff;
    margin-bottom: 38px;
    padding-right: 10px;
    font-weight: 700;
}

.kingPodaciSpremljeni {
    font-size: 40px;
    font-weight: 900;
    background-color: rgba(0, 255, 0, 0.733);
    text-align: center;
    padding: 20px;
    color: #e0e0e0;
    margin: 20px;
    display: none;
}

.kingPodaciSmrde {
    font-size: 40px;
    font-weight: 900;
    background-color: rgba(255, 0, 0, 0.76);
    text-align: center;
    padding: 20px;
    color: #e0e0e0;
    margin: 20px;
    display: none;
}

.kingPodaciSpremljeniOn {
    display: block;
}